<h1 mat-dialog-title>Nový příspěvek</h1>
<div mat-dialog-content>

  <mat-form-field appearance="outline">
    <mat-label>Nadpis</mat-label>
    <input matInput [(ngModel)]="notice.head"/>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-select [(value)]="notice.school">
      <mat-option value="0">Všechny</mat-option>
      <mat-option value="1">Ostrava</mat-option>
      <mat-option value="2">Třinec</mat-option>
      <mat-option value="3">Český Těšín</mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <mat-label>Text</mat-label>
  <quill-editor
    id="quill"
    style="min-height: 600px;"
    [(ngModel)]="notice.text"
  ></quill-editor>
  <br>

  <mat-label>Náhled</mat-label>
  <mat-card style="margin: 1rem;">
    <mat-card-header>
      <mat-card-title>{{notice.head}}</mat-card-title>
      <mat-card-subtitle>{{ActualDate().toLocaleDateString('cs-CZ')}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="margin-left: 16px;"[innerHTML]="notice.text"></mat-card-content>
  </mat-card>



</div>
<div mat-dialog-actions style="float: right;">
  <button mat-raised-button (click)="onNoClick()">Zrušit</button>
  <button mat-raised-button
          [mat-dialog-close]="notice">Ok</button>
</div>

