<div class="page-container">
    <p class="hint-text">Seznam událostí, na které se můžeš přihlásit.</p>
    <div class="error-text" *ngIf="error">{{error}}</div>
    <mat-accordion multi>
        <mat-expansion-panel #thispanel hideToggle *ngFor="let event of events; trackBy: identifyer">
            <mat-expansion-panel-header>
                <mat-panel-title class="datetime">
                    <mat-icon *ngIf="true" [color]="getRegStatus(event).Color">{{getRegStatus(event).Icon}}</mat-icon>
                    <span class="event-name">{{ thispanel.expanded ? event.name : AdjustText(event.name)}}</span><span class="event-members">{{event.confirmed + '/' + event.memberlimit}}</span>
                </mat-panel-title>
            </mat-expansion-panel-header>

          <ng-template matExpansionPanelContent>
            <p></p>
            <table>
                <tr><td class="row-name">Místo konání</td><td class="row-value">{{ event.location }}</td></tr>
                <tr><td class="row-name">Cena</td><td class="row-value">{{ event.prize }}</td></tr>
                <tr><td class="row-name">Přihlašování do</td><td class="row-value">{{ GetDate(event.datetimeDeadline).toLocaleString('cs-CZ') }}</td></tr>
                <tr><td class="row-name">Začátek</td><td class="row-value">{{ GetDate(event.datetimeStart).toLocaleString('cs-CZ') }}</td></tr>
                <tr><td class="row-name">Konec</td><td class="row-value">{{ GetDate(event.datetimeEnd).toLocaleString('cs-CZ') }}</td></tr>
                <tr><td class="row-name">Min. účastníků</td><td class="row-value">{{ event.memberlimitMin }}</td></tr>
                <tr><td class="row-name">Stav</td><td class="row-value">{{getRegStatus(event).Text}}</td></tr>
            </table>

            <div [innerHTML]="event.description"></div>



            <button mat-raised-button
                    color="primary"
                    (click)="this.signOut(event)"
                    [disabled]="event.regStatus === 0 || dateTimeNow > GetDate(event.datetimeDeadline)">
                Odhlásit
            </button>
            <button mat-raised-button
                    color="primary"
                    (click)="this.signIn(event)"
                    [disabled]="!canSign(event)">
              Přihlásit
            </button>
          </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
</div>

