<div class="page-container">
  <div class="error-text" *ngIf="error">{{error}}</div>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  <mat-slide-toggle [(ngModel)]="this.history"
                    (change)="historyChange()"
                    style="margin-bottom: 10px;"
                    color="primary"
  >Historie</mat-slide-toggle>
  <button mat-icon-button
          class="memberBtn"
          (click)="createEvent()"
          color="primary"
          matTooltip="Nový">
    <mat-icon>note_add</mat-icon>
  </button>
  <table mat-table
         matSort
         [dataSource]="dataSource"
         #eventSort="matSort"
         multiTemplateDataRows
         class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td (click)="Expanded(element);" mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Jméno </th>
      <td (click)="Expanded(element);" mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container *ngIf="!device.IsMobile()" matColumnDef="datetimeStart">
      <th mat-header-cell *matHeaderCellDef> Začátek </th>
      <td (click)="Expanded(element);" mat-cell *matCellDef="let element"> {{ formatDate(element.datetimeStart).toLocaleString('cs-CZ')}} </td>
    </ng-container>

    <ng-container *ngIf="!device.IsMobile()" matColumnDef="members">
      <th mat-header-cell *matHeaderCellDef> Přihlášených </th>
      <td (click)="Expanded(element);" mat-cell *matCellDef="let element" matTooltip="Přihlášených / Potvrzených / Přítomných / Limit"> {{ event.members }} / {{ event.confirmed }} / {{ event.present }} / {{ event.memberlimit }} </td>
    </ng-container>

    <ng-container matColumnDef="control">
      <th mat-header-cell *matHeaderCellDef></th>
      <td (click)="$event.stopPropagation();" mat-cell *matCellDef="let element">
        <button mat-icon-button
                style="float: right;"
                [disabled]="!editor.Same"
                (click)="changeAutoconfirm(element)"
                matTooltip="Automatické potvrzování">
          <mat-icon *ngIf="!!+element.autoconfirm">flash_on</mat-icon>
          <mat-icon *ngIf="!!!+element.autoconfirm">flash_off</mat-icon>
        </button>

        <button mat-icon-button
                style="float: right;"
                [disabled]="!editor.Same"
                (click)="changeVisibility(element)"
                matTooltip="Viditelnost">
          <mat-icon *ngIf="!!+element.visible">visibility</mat-icon>
          <mat-icon *ngIf="!!!+element.visible">visibility_off</mat-icon>
        </button>

        <button mat-icon-button
                style="float: right;"
                color="warn"
                [disabled]="!editor.Same"
                (click)="dialogDelete(element.id)"
                matTooltip="Smazat">
          <mat-icon>delete</mat-icon>
        </button>

        <button mat-icon-button
                style="float: right;"
                color="primary"
                (click)="copyEvent(element.id)"
                matTooltip="Kopírovat">
          <mat-icon>file_copy</mat-icon>
        </button>
      </td>
    </ng-container>


    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

          <mat-tab-group (focusChange)="tabChanged(element)">
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>assignment</mat-icon>
              </ng-template>

              <!-- Name editor -->
              <mat-form-field class="edit-input" appearance="outline" style="margin-top: 10px;">
                <mat-label>Jméno</mat-label>
                <input matInput (keyup.enter)="editor.Name = true" [(ngModel)]="element.name">
              </mat-form-field>

              <!-- Location editor -->
              <mat-form-field class="edit-input" appearance="outline" class="half-size margin-2">
                <mat-label>Místo konání</mat-label>
                <input matInput (keyup.enter)="editor.Location = true" [(ngModel)]="element.location">
              </mat-form-field>

              <!-- Prize editor -->
              <mat-form-field class="edit-input" appearance="outline" class="half-size">
                <mat-label>Cena</mat-label>
                <input matInput (keyup.enter)="editor.Prize = true" [(ngModel)]="element.prize">
              </mat-form-field>

              <!-- Member limit editor -->
              <mat-form-field class="edit-input" appearance="outline" class="half-size margin-2">
                <mat-label>Limit účastníků</mat-label>
                <input type="number" matInput (keyup.enter)="editor.MemberLimit = true" [(ngModel)]="element.memberlimit">
              </mat-form-field>

              <!-- Member limit min editor -->
              <mat-form-field class="edit-input" appearance="outline" class="half-size">
                <mat-label>Min. účastníků</mat-label>
                <input type="number" matInput (keyup.enter)="editor.MinLimit = true" [(ngModel)]="element.memberlimitMin">
              </mat-form-field>

              <!-- Deadline editor -->
              <mat-form-field class="edit-input" appearance="outline" class="half-size margin-2">
                <mat-label>Přihlašování do</mat-label>
                <input matInput (keyup.enter)="editor.Deadline = true" [(ngModel)]="element.datetimeDeadline">
              </mat-form-field>

              <!-- Start editor -->
              <mat-form-field class="edit-input" appearance="outline" class="half-size">
                <mat-label>Začátek</mat-label>
                <input matInput (keyup.enter)="editor.Start = true" [(ngModel)]="element.datetimeStart">
              </mat-form-field>

              <!-- End editor -->
              <mat-form-field class="edit-input" appearance="outline" class="half-size margin-2">
                <mat-label>Konec</mat-label>
                <input matInput (keyup.enter)="editor.End = true" [(ngModel)]="element.datetimeEnd">
              </mat-form-field>

              <!-- School editor -->
              <mat-form-field appearance="outline" class="half-size">
                <mat-label>Škola</mat-label>
                <mat-select (keyup.enter)="editor.School = true" [(value)]="element.school">
                  <mat-option value="0">Všechny</mat-option>
                  <mat-option value="1">Ostrava</mat-option>
                  <mat-option value="2">Třinec</mat-option>
                  <mat-option value="3">Český Těšín</mat-option>
                  <mat-option value="4">Těrlicko</mat-option>
                </mat-select>
              </mat-form-field>

              <br>
              <mat-label>Text</mat-label>
              <div>
                <quill-editor
                  id="quill"
                  [modules]="modules"
                  [(ngModel)]="element.description"
                ></quill-editor>
              </div>
              <br>

              <mat-label>Náhled</mat-label>
              <mat-card style="margin: 1rem;">
                <mat-card-content [innerHTML]="element.description"></mat-card-content>
              </mat-card>

              <!-- Buttons area -->

              <button mat-raised-button
                      class="bottomButton"
                      color="primary"
                      [disabled]="editor.Same"
                      (click)="updateEvent(element)">
                Uložit
              </button>
              <button mat-raised-button
                      class="bottomButton"
                      color="basic"
                      [disabled]="editor.Same"
                      (click)="editor.RevertChanges()">
                Zrušit
              </button>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>group</mat-icon>
              </ng-template>

              <mat-card class="overview-card"
                        style="background-color: #e6e6e6;"
                        matTooltip="Klikni pro reset všech"
                        (click)="dialogResetAll(event.id)">
                <mat-card-header>
                  <mat-card-title>{{event.members}}</mat-card-title>
                  <mat-card-subtitle>Přihlášených</mat-card-subtitle>
                </mat-card-header>
              </mat-card>

              <mat-card class="overview-card"
                        [ngClass]="(event.members-event.confirmed > 0)?'red':'green'"
                        matTooltip="Klikni pro potvrzení všech"
                        (click)="dialogConfirmAll(event.id)">
                <mat-card-header>
                  <mat-card-title>{{event.members-event.confirmed}}</mat-card-title>
                  <mat-card-subtitle>Nepotvrzených</mat-card-subtitle>
                </mat-card-header>
              </mat-card>

              <mat-card class="overview-card"
                        [ngClass]="(event.confirmed-event.present > 0)?'red':'green'"
                        matTooltip="Klikni pro přítomnost všech"
                        (click)="dialogPresentAll(event.id)">
                <mat-card-header>
                  <mat-card-title>{{event.confirmed-event.present}}</mat-card-title>
                  <mat-card-subtitle>Nepřítomných</mat-card-subtitle>
                </mat-card-header>
              </mat-card>

              <table mat-table
                     [dataSource]="dataSourceMembers"
                     multiTemplateDataRows
                     class="mat-elevation-z8">

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Jméno </th>
                  <td mat-cell *matCellDef="let element"> {{getName(element)}} </td>
                </ng-container>

                <ng-container matColumnDef="surname">
                  <th mat-header-cell *matHeaderCellDef> Příjmení </th>
                  <td mat-cell *matCellDef="let element"> {{getSurname(element)}} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef matTooltip="Potvrzeno + Dorazil"> Status </th>
                  <td mat-cell *matCellDef="let element"><mat-icon>{{getStatus(element)}}</mat-icon></td>
                </ng-container>

                <ng-container matColumnDef="datetime">
                  <th mat-header-cell *matHeaderCellDef> Přihlášen </th>
                  <td mat-cell *matCellDef="let element"> {{ formatDate(element.datetime).toLocaleString('cs-CZ')}} </td>
                </ng-container>

                <ng-container matColumnDef="control">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button
                            class="memberBtn"
                            (click)="cancel(element.id)"
                            [disabled]="!!!+element.present && !!!+element.confirmed"
                            color="warn"
                            matTooltip="Zrušit">
                      <mat-icon>cancel</mat-icon>
                    </button>
                    <button mat-icon-button
                            class="memberBtn"
                            (click)="present(element.id)"
                            [disabled]="!!+element.present || !!!+element.confirmed"
                            color="primary"
                            matTooltip="Přítomen">
                      <mat-icon>check_circle</mat-icon>
                    </button>
                    <button mat-icon-button
                            class="memberBtn"
                            (click)="confirm(element.id)"
                            [disabled]="!!+element.confirmed"
                            color="primary"
                            matTooltip="Potvrdit">
                      <mat-icon>check_circle_outline</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplayMembers"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplayMembers;"></tr>
              </table>


            </mat-tab>
          </mat-tab-group>


        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element; tabChanged(element);">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
</div>
