<div class="page-container">

  <mat-tab-group dynamicHeight mat-align-tabs="start">
    <mat-tab label="Parametry a metadata">

      <mat-form-field appearance="outline" class="article-input">
        <mat-label>Jméno článku</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="outline" class="article-input">
        <mat-label>Téma</mat-label>
        <mat-select>
          <mat-option value="1">Aktualita</mat-option>
          <mat-option value="2">Kurz</mat-option>
          <mat-option value="3">Wing Tsun</mat-option>
          <mat-option value="4">Prevence</mat-option>
          <mat-option value="5">Děti</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-tab>

    <mat-tab label="Text článku">
      <quill-editor
        class="editor"
        [modules]="modules"
        [(ngModel)]="output"
      ></quill-editor>

      <div class="ql-container ql-snow">
        <div class="ql-editor">
          <div [innerHTML]="output"></div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>



</div>
