<div class="page-container">
    <mat-tab-group>
        <mat-tab label="Přehled">
            <div class="settings-content">
                <p class="hint-text">
                    Nastav si, které informace chceš vidět na obrazovce Přehled.
                </p>
                <mat-slide-toggle [(ngModel)]="user.settings[0]" (change)="SettingsChange()" color="primary" matTooltip="Nejnovější příspěvek">Nástěnka</mat-slide-toggle><br>
                <mat-slide-toggle [(ngModel)]="user.settings[1]" (change)="SettingsChange()" color="primary" matTooltip="Přihlášené události">Události</mat-slide-toggle><br>
                <mat-slide-toggle [(ngModel)]="user.settings[2]" (change)="SettingsChange()" color="primary" matTooltip="Objednaný artikl">Artikl</mat-slide-toggle><br>
                <mat-slide-toggle [(ngModel)]="user.settings[3]" (change)="SettingsChange()" color="primary" matTooltip="Nejnovější zpráva">Chat</mat-slide-toggle><br>
                <mat-slide-toggle [(ngModel)]="user.settings[4]" (change)="SettingsChange()" color="primary" matTooltip="Nejnovější video">Video</mat-slide-toggle><br>
            </div>
        </mat-tab>
        <mat-tab label="Přehled">
            <div class="settings-content">
                <p>
                    Nastav si, které informace chceš vidět na obrazovce Přehled.
                </p>
                <mat-slide-toggle [(ngModel)]="user.settings[0]" (change)="SettingsChange()" color="primary" matTooltip="Nejnovější příspěvek">Nástěnka</mat-slide-toggle><br>
                <mat-slide-toggle [(ngModel)]="user.settings[1]" (change)="SettingsChange()" color="primary" matTooltip="Přihlášené události">Události</mat-slide-toggle><br>
                <mat-slide-toggle [(ngModel)]="user.settings[2]" (change)="SettingsChange()" color="primary" matTooltip="Objednaný artikl">Artikl</mat-slide-toggle><br>
                <mat-slide-toggle [(ngModel)]="user.settings[3]" (change)="SettingsChange()" color="primary" matTooltip="Nejnovější zpráva">Chat</mat-slide-toggle><br>
                <mat-slide-toggle [(ngModel)]="user.settings[4]" (change)="SettingsChange()" color="primary" matTooltip="Nejnovější video">Video</mat-slide-toggle><br>
            </div>
        </mat-tab>
        <mat-tab label="Přehled">
            <div class="settings-content">
                <p>
                    Nastav si, které informace chceš vidět na obrazovce Přehled.
                </p>
                <mat-slide-toggle [(ngModel)]="user.settings[0]" (change)="SettingsChange()" color="primary" matTooltip="Nejnovější příspěvek">Nástěnka</mat-slide-toggle><br>
                <mat-slide-toggle [(ngModel)]="user.settings[1]" (change)="SettingsChange()" color="primary" matTooltip="Přihlášené události">Události</mat-slide-toggle><br>
                <mat-slide-toggle [(ngModel)]="user.settings[2]" (change)="SettingsChange()" color="primary" matTooltip="Objednaný artikl">Artikl</mat-slide-toggle><br>
                <mat-slide-toggle [(ngModel)]="user.settings[3]" (change)="SettingsChange()" color="primary" matTooltip="Nejnovější zpráva">Chat</mat-slide-toggle><br>
                <mat-slide-toggle [(ngModel)]="user.settings[4]" (change)="SettingsChange()" color="primary" matTooltip="Nejnovější video">Video</mat-slide-toggle><br>
            </div>
        </mat-tab>

    </mat-tab-group>

    <div class="settings-content settings-buttons">
        <button #SaveBtn
                mat-raised-button
                disabled
                color="primary"
                (click)="SaveChanges()">Uložit</button>
        <button #CancelBtn
                mat-raised-button
                disabled
                (click)="CancelChanges()"
        >Zrušit</button>
    </div>
</div>
