<div class="page-container">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>person_add</mat-icon>
      </ng-template>
      <br>
      <div class="member-form">

        <mat-form-field appearance="outline">
          <mat-label>Jméno</mat-label>
          <input (keyup)="buildLogin();emptyFieldsCheck();" matInput [(ngModel)]="member.name">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Příjmení</mat-label>
          <input (keyup)="buildLogin();emptyFieldsCheck();" matInput [(ngModel)]="member.surname">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Login</mat-label>
          <input (keyup)="loginUniqueCheck(); emptyFieldsCheck(); " matInput [(ngModel)]="member.login">
          <mat-hint *ngIf="loginExists" style="color: #f44336;">Login již existuje.</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Heslo</mat-label>
          <input (keyup)="emptyFieldsCheck()" matInput [(ngModel)]="member.pwd">
        </mat-form-field>

        <!-- School editor -->
        <mat-form-field appearance="outline">
          <mat-label>Škola</mat-label>
          <mat-select [(value)]="member.school">
            <mat-option value="0">Všechny</mat-option>
            <mat-option value="1">Ostrava</mat-option>
            <mat-option value="2">Třinec</mat-option>
            <mat-option value="3">Český Těšín</mat-option>
            <mat-option value="4">Těrlicko</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email(volitelné)</mat-label>
          <input (keyup)="emptyFieldsCheck()" matInput [(ngModel)]="email">
          <mat-hint>Pro odeslání přihlašovacích údajů.</mat-hint>
        </mat-form-field>
        <br>
        <br>
        <!-- Buttons area -->
        <button mat-raised-button
                class="bottomButton"
                color="primary"
                [disabled]="!saveEnable"
                (click)="addMember(member)">
          {{saveBtnText}}
        </button>
        <button mat-raised-button
                class="bottomButton"
                color="basic"
                (click)="initMember()">
          Zrušit
        </button>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>groups</mat-icon>
      </ng-template>
      <div class="error-text" *ngIf="error">{{error}}</div>

      <mat-form-field class="filter">
        <mat-label>Filter</mat-label>
        <input [(ngModel)]="filter" matInput (keyup)="getMembers()" placeholder="Ex. ium" #input>
      </mat-form-field>

      <h4 class="result">
        {{result}}
      </h4>
      <mat-progress-bar *ngIf="showLoading" mode="indeterminate"></mat-progress-bar>
      <table mat-table
             matSort
             [dataSource]="dataSource"
             #eventSort="matSort"
             multiTemplateDataRows
             class="mat-elevation-z8">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container *ngIf="!device.IsMobile()" matColumnDef="login">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Login </th>
          <td mat-cell *matCellDef="let element"> {{element.login}} </td>
        </ng-container>

        <ng-container *ngIf="!device.IsMobile()" matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Jméno </th>
          <td  mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="surname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Příjmení </th>
          <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
        </ng-container>

        <ng-container *ngIf="!device.IsMobile()" matColumnDef="school">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Škola </th>
          <td mat-cell *matCellDef="let element"> {{common.getSchool(element.school)}} </td>
        </ng-container>

        <ng-container matColumnDef="control">
          <th mat-header-cell *matHeaderCellDef></th>
          <td (click)="$event.stopPropagation();" mat-cell *matCellDef="let element">
            <button mat-icon-button
                    style="float: right;"
                    color="warn"
                    (click)="dialogDelete(element)"
                    matTooltip="Smazat">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button
                    style="float: right;"
                    color="primary"
                    (click)="dialogReset(element)"
                    matTooltip="Reset hesla">
              <mat-icon>autorenew</mat-icon>
            </button>
            <button mat-icon-button
                    style="float: right;"
                    color="primary"
                    (click)="dialogUpdate(element)"
                    matTooltip="Změna údajů">
              <mat-icon>create</mat-icon>
            </button>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
      <h1 *ngIf="filter.length === 0" class="choose-alert">Použij filtr.</h1>
    </mat-tab>
  </mat-tab-group>

</div>

