<p class="hint-text" style="margin-left: 20px;">Oblečení a jiný artikl s naším logem, který si můžeš objednat.</p>

<mat-card class="artikl-card"
          *ngFor="let artikl of artikls">
    <mat-card-header>
        <mat-card-title>{{artikl.Name}}</mat-card-title>
        <mat-card-subtitle>Stav: {{GetArtiklStateText(artikl.Id)}}</mat-card-subtitle>
        <mat-card-subtitle>Objednávky: {{artikl.Members + '/' + artikl.Memberlimit}}</mat-card-subtitle>
        <mat-icon *ngIf="GetArtiklState(artikl.Id) == 0" color="accent">panorama_fish_eye</mat-icon>
        <mat-icon *ngIf="GetArtiklState(artikl.Id) == 2" color="primary">check_circle</mat-icon>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            {{artikl.Description}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary"
                (click)="openDialog()"
        >Objednat</button>
        <button mat-raised-button
                (click)="dataService.SetSignOutUserToArtikl()"
        >Zrušit</button>
    </mat-card-actions>
</mat-card>

