<div class="page-container">
  <div class="error-text" *ngIf="error">{{error}}</div>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #filter>
  </mat-form-field>
  <mat-slide-toggle [(ngModel)]="this.history"
                    (change)="getArticles()"
                    style="margin-bottom: 10px;"
                    color="primary"
  >Historie (Články vytvořeny 24 hodin zpět)</mat-slide-toggle>

  <button mat-icon-button
          style="float: right;"
          (click)="createArticle()"
          color="primary"
          matTooltip="Nový">
    <mat-icon>note_add</mat-icon>
  </button>

  <table mat-table
         matSort
         [dataSource]="dataSource"
         #articleSort="matSort"
         multiTemplateDataRows
         class="mat-elevation-z8">

    <ng-container *ngIf="!device.IsMobile()" matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td (click)="expanded(element);updateEditor(element)" mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container *ngIf="!device.IsMobile()" matColumnDef="topic">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Téma </th>
      <td (click)="expanded(element);updateEditor(element)" mat-cell *matCellDef="let element" [class.red]="element.topic === '0'"> {{common.getArticleTopic(element.topic)}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Jméno </th>
      <td (click)="expanded(element);updateEditor(element)" mat-cell *matCellDef="let element"> {{stringCut(element.name, 35)}} </td>
    </ng-container>

    <ng-container *ngIf="!device.IsMobile()" matColumnDef="release">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Publikovat </th>
      <td (click)="expanded(element);updateEditor(element)" mat-cell *matCellDef="let element"> {{formatDate(element.releaseDatetime).toLocaleDateString('cs-CZ')}} </td>
    </ng-container>

    <ng-container matColumnDef="control">
      <th mat-header-cell *matHeaderCellDef></th>
      <td (click)="$event.stopPropagation();" mat-cell *matCellDef="let element">
        <button mat-icon-button
                style="float: right;"
                (click)="changeVisibility(element)"
                matTooltip="Viditelnost">
          <mat-icon *ngIf="!!+element.visible">visibility</mat-icon>
          <mat-icon *ngIf="!!!+element.visible">visibility_off</mat-icon>
        </button>

        <button mat-icon-button
                style="float: right;"
                color="warn"
                (click)="dialogDelete(element)"
                matTooltip="Smazat">
          <mat-icon>delete</mat-icon>
        </button>

        <button mat-icon-button
                style="float: right;"
                color="primary"
                (click)="copyEvent(element)"
                matTooltip="Kopírovat">
          <mat-icon>file_copy</mat-icon>
        </button>
        <button mat-icon-button
                style="float: right;"
                color="primary"
                (click)="dialogEdit(element)"
                matTooltip="Upravit text">
          <mat-icon>reorder</mat-icon>
        </button>
      </td>
    </ng-container>


    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

          <mat-tab-group id="tab-group" (focusChange)="expanded(element)">
            <!-- Metadata -->
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>assignment</mat-icon>
              </ng-template>

              <!-- Name editor -->
              <mat-form-field appearance="outline" class="top-space">
                <mat-label>Jméno</mat-label>
                <input matInput [(ngModel)]="element.name">
              </mat-form-field>

              <!-- Release date editor -->
              <mat-form-field appearance="outline">
                <mat-label>Publikovat</mat-label>
                <input matInput [(ngModel)]="element.releaseDatetime">
              </mat-form-field>

              <!-- Topic editor -->
              <mat-form-field appearance="outline" class="article-input">
                <mat-label>Téma</mat-label>
                <mat-select [(ngModel)]="element.topic">
                  <mat-option value="1">Aktualita</mat-option>
                  <mat-option value="2">Kurz</mat-option>
                  <mat-option value="3">Wing Tsun</mat-option>
                  <mat-option value="4">Prevence</mat-option>
                  <mat-option value="5">Děti</mat-option>
                </mat-select>
              </mat-form-field>

              <!-- Keywords editor -->
              <mat-form-field appearance="outline">
                <mat-label>Meta klíčová slova</mat-label>
                <textarea matInput
                          cdkTextareaAutosize [(ngModel)]="element.keywords"></textarea>
              </mat-form-field>

              <!-- Metadesc editor -->
              <mat-form-field appearance="outline">
                <mat-label>Meta Popis</mat-label>
                <textarea matInput
                          cdkTextareaAutosize [(ngModel)]="element.metadesc"></textarea>
              </mat-form-field>

              <!-- Short editor -->
              <mat-form-field appearance="outline">
                <mat-label>Popis</mat-label>
                <textarea matInput
                          cdkTextareaAutosize [(ngModel)]="element.short"></textarea>
              </mat-form-field>

            </mat-tab>
            <!-- Gallery -->
            <mat-tab>
              <!-- Gallery -->
              <ng-template mat-tab-label>
                <mat-icon>insert_photo</mat-icon>
              </ng-template>

              <!-- Pic editor -->
              <mat-card class="pic-editor">
                <mat-card-subtitle>Úvodní foto</mat-card-subtitle>
                <img class="pic-image" mat-card-image [src]="picPath">
                <mat-card-actions>
                  <input type="file" id="file" (change)="handleFileInput($event.target.files, element)">
                </mat-card-actions>
              </mat-card>

              <div style="margin: 1rem;">
                <mat-card-subtitle>Galerie</mat-card-subtitle>
                <input type="file" multiple id="galery" (change)="multipleFileInput($event.target.files, element)" (click)="resetProgress()">
              </div>

              <mat-progress-bar mode="determinate" [value]="fileUploadProgress"></mat-progress-bar>

              <div class="mini-gallery">
                <mat-card *ngFor="let img of images" class="thumbnail">
                  <img class="pic-image" mat-card-image [src]="getImgPath(img.url)">
                  <mat-card-actions>
                    <button mat-icon-button
                            class="memberBtn"
                            (click)="imgUpdateVisibility(img)"
                            matTooltip="Viditelnost v galerii">
                      <mat-icon *ngIf="!!+img.visible">visibility</mat-icon>
                      <mat-icon *ngIf="!!!+img.visible">visibility_off</mat-icon>
                    </button>
                    <button mat-icon-button
                            class="memberBtn"
                            color="warn"
                            (click)="imgDelete(img)"
                            matTooltip="Smazat">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </mat-tab>

            <mat-tab>
              <!-- Preview -->
              <ng-template mat-tab-label>
                <mat-icon>preview</mat-icon>
              </ng-template>

              <div class="ql-container ql-snow preview top-space">
                <div class="ql-editor">
                  <div [innerHTML]="element.text"></div>
                </div>
              </div>


            </mat-tab>
          </mat-tab-group>

          <!-- Buttons area -->
          <button mat-raised-button
                  class="bottomButton top-space"
                  color="primary"
                  (click)="updateArticle(element)">
            Uložit
          </button>

        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element;">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
</div>

