<div class="page-container">
    <p class="hint-text">Chat s trenéry.</p>

    <mat-card id="chat-box">
        <ul>
            <li *ngFor="let msg of UserChat" [ngClass]="GetClass(msg.Me)">
                <span style="opacity: .5;">{{msg.Date.toLocaleString('cs-CZ')}} > </span>
                <span>
                    <span *ngIf="msg.Me" class="no-wrap">{{User.name}}:</span>
                    <span *ngIf="!msg.Me">Trenéři:</span>
                    {{msg.Text}}
                </span>
            </li>
        </ul>
    </mat-card>

    <mat-form-field>
        <textarea matInput placeholder="Zpráva"></textarea>
    </mat-form-field>

    <button color="primary" mat-raised-button>Odeslat</button>

</div>
