table {
  width: 100%;
}

.error {
  color: #f44336;
}

.warning {
  color: #f49f36;
}

.filter-button {
  margin-right: 1rem;
  float: right;
}

mat-expansion-panel {
  margin-bottom: 1rem !important;
}

mat-form-field {
  width: 48%;
  float: left;
  padding-right: 2%;
}

mat-checkbox {
  float: left;
  margin-right: 2rem;
}

mat-progress-bar {
  margin: 1rem 0 1rem 0;
}
