<div class="page-container">
  <div class="error-text" *ngIf="error">{{error}}</div>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filtr
        </mat-panel-title>
        <mat-panel-description>
          {{usedFilters}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <mat-label>Od</mat-label>
        <input matInput type="datetime-local" [(ngModel)]="startFilter">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Do</mat-label>
        <input matInput type="datetime-local" [(ngModel)]="endFilter">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Člen</mat-label>
        <input matInput placeholder="Ex. ium" [(ngModel)]="userFilter">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Role</mat-label>
        <mat-select appearance="outline" [(value)]="roleFilter">
          <mat-option value="all">Vše</mat-option>
          <mat-option value="Člen">Člen</mat-option>
          <mat-option value="Admin">Admin</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Město</mat-label>
        <mat-select [(value)]="schoolFilter">
          <mat-option value="101">Vše</mat-option>
          <mat-option value="0">Všechny školy</mat-option>
          <mat-option value="1">Ostrava</mat-option>
          <mat-option value="2">Třinec</mat-option>
          <mat-option value="3">Český Těšín</mat-option>
          <mat-option value="4">Těrlicko</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Sekce</mat-label>
        <mat-select [(value)]="sectionFilter">
          <mat-option value="all">Vše</mat-option>
          <mat-option value="Přihlašování">Přihlašování</mat-option>
          <mat-option value="Nástěnka">Nástěnka</mat-option>
          <mat-option value="Události">Události</mat-option>
          <mat-option value="Video">Video</mat-option>
          <mat-option value="Nastavení">Nastavení</mat-option>
          <mat-option value="Články">Články</mat-option>
          <mat-option value="Členové">Členové</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Info1</mat-label>
        <input matInput placeholder="Ex. ium" [(ngModel)]="info1Filter">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Info2</mat-label>
        <input matInput placeholder="Ex. ium" [(ngModel)]="info2Filter">
      </mat-form-field>

      <mat-checkbox [(ngModel)]="showErrors" color="primary">Chyby</mat-checkbox>
      <mat-checkbox [(ngModel)]="showWarnings" color="primary">Varování</mat-checkbox>
      <mat-checkbox [(ngModel)]="showInfos" color="primary">Informace</mat-checkbox>

      <mat-checkbox [(ngModel)]="showLogin" color="primary">Přihlašování</mat-checkbox>

      <button mat-raised-button
              color="primary"
              class="filter-button"
              (click)="getLogs()">
        Použít
      </button>
      <button mat-raised-button
              color="basic"
              class="filter-button"
              (click)="clearFilter()">
        Zrušit
      </button>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-progress-bar *ngIf="showLoading" mode="indeterminate"></mat-progress-bar>

  <div *ngIf="!showLoading" class="table-container">
    <table mat-table [dataSource]="dataSource" (scroll)="onScroll()">

      <ng-container matColumnDef="datetime">
        <th mat-header-cell *matHeaderCellDef> Datum </th>
        <td [ngClass]="getClass(element)" mat-cell *matCellDef="let element"> {{getFriedlyDate(element.datetime)}} </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td [ngClass]="getClass(element)" mat-cell *matCellDef="let element"> {{element.role}} </td>
      </ng-container>

      <ng-container matColumnDef="section">
        <th mat-header-cell *matHeaderCellDef> Sekce </th>
        <td [ngClass]="getClass(element)" mat-cell *matCellDef="let element"> {{element.section}} </td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef> Město </th>
        <td [ngClass]="getClass(element)" mat-cell *matCellDef="let element"> {{common.getSchool(element.city)}} </td>
      </ng-container>

      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef> Člen </th>
        <td [ngClass]="getClass(element)" mat-cell *matCellDef="let element"> {{combineUser(element)}} </td>
      </ng-container>

      <ng-container matColumnDef="info1">
        <th mat-header-cell *matHeaderCellDef> Info 1 </th>
        <td [ngClass]="getClass(element)" mat-cell *matCellDef="let element"> {{element.info1}} </td>
      </ng-container>

      <ng-container matColumnDef="info2">
        <th mat-header-cell *matHeaderCellDef> Info 2 </th>
        <td [ngClass]="getClass(element)" mat-cell *matCellDef="let element"> {{element.info2}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns, sticky: true" ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="ender" *ngIf="ender"></div>
</div>
