.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

#buttons{
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  right: 10px;
}

#buttons mat-icon{
  margin-right: 0px;
}

.slide-toggle{
  padding: 10px;
}

mat-icon {
  margin-right: 10px;
}

.under-construction{
  opacity: .3;
}

.admin-icon{
  color: red;
}

