.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

#logout-button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.slide-toggle{
  padding: 10px;
}

mat-icon {
  margin-right: 10px;
}

