<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="(isHandset$ | async) === false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
          <!--<a mat-list-item href="prehled"><mat-icon>dashboard</mat-icon>Přehled</a>-->
          <a mat-list-item href="nastenka"><mat-icon>assignment</mat-icon>Nástěnka</a>
          <a mat-list-item href="udalosti"><mat-icon>group</mat-icon>Události</a>
          <!--<a mat-list-item href="artikl"><mat-icon>shopping_cart</mat-icon>Artikl</a>-->
          <!--<a mat-list-item href="chat"><mat-icon>textsms</mat-icon>Chat</a>-->
          <a mat-list-item href="video"><mat-icon>live_tv</mat-icon>Video</a>

          <ng-container *ngIf="userAuthService.isLoggedAdmin()">
            <mat-divider></mat-divider>
            <mat-toolbar>Admin</mat-toolbar>
            <a mat-list-item href="admin-nastenka"><mat-icon class="admin-icon">assignment</mat-icon>Nástěnka</a>
            <a mat-list-item href="admin-udalosti"><mat-icon class="admin-icon">group</mat-icon>Události</a>
            <a mat-list-item href="admin-clanky"><mat-icon class="admin-icon">article</mat-icon>Články</a>
            <a mat-list-item href="admin-clenove"><mat-icon class="admin-icon">face</mat-icon>Členové</a>
          </ng-container>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <mat-toolbar style="z-index: 100 !important;" color="primary">
          <button
                  type="button"
                  aria-label="Toggle sidenav"
                  mat-icon-button
                  (click)="drawer.toggle()"
                  *ngIf="isHandset$ | async">
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <span>{{title}}</span>
          <p id="buttons">
            <a href="https://www.wingtsunslezsko.cz">
              <button
              mat-button
              matTooltip="www.wingtsunslezsko.cz">
              <mat-icon>language</mat-icon>
              </button>
            </a>
            <button
            mat-button (click)="userAuthService.logout();"
            matTooltip="Odhlásit">
            <mat-icon>logout</mat-icon>
            </button>
          </p>
      </mat-toolbar>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
