<mat-card>

    <mat-card-title>Členská sekce</mat-card-title>
    <mat-card-subtitle>Přihlášení</mat-card-subtitle>

    <mat-form-field>
        <input matInput placeholder="Login" [(ngModel)]="formLogin">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Heslo" [type]="pwdHide ? 'password' : 'text'" [(ngModel)]="formPwd">
        <button mat-icon-button matSuffix (click)="pwdHide = !pwdHide">
            <mat-icon>{{pwdHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>

    <button (click)="_buttonClicked()"
            mat-raised-button
            color="primary">Přihlásit</button>
</mat-card>
