mat-card{
  margin-bottom: 20px;
}

mat-card-content{
}

mat-card-footer{
  float: right;
  font-size: .9em;
  opacity: .5;
  padding-right: 10px;
}

.control-btns {
  position: absolute;
  top: 0;
  right: 0;
}

.memberBtn {
  float: right;
  width: 30px !important;
}
