<div class="page-container">
  <div class="error-text" *ngIf="error">{{error}}</div>
  <div class="control-pane">
    <button mat-icon-button
            style="float: right;width: 30px !important;"
            (click)="dialogCreate()"
            color="primary"
            matTooltip="Nový">
      <mat-icon>note_add</mat-icon>
    </button>
  </div>
  <mat-card *ngFor="let notice of notices">
    <mat-card-header>
      <mat-card-title>{{notice.head}}</mat-card-title>
      <mat-card-subtitle>{{GetDate(notice.datetime).toLocaleDateString('cs-CZ')}}</mat-card-subtitle>
      <mat-card-subtitle>Škola: {{common.getSchool(notice.school)}}</mat-card-subtitle>
      <div class="control-btns">
        <button mat-icon-button
                class="memberBtn"
                (click)="changeVisibility(notice)"
                matTooltip="Viditelnost">
          <mat-icon *ngIf="!!+notice.visible">visibility</mat-icon>
          <mat-icon *ngIf="!!!+notice.visible">visibility_off</mat-icon>
        </button>
        <button mat-icon-button
                class="memberBtn"
                color="warn"
                (click)="dialogDelete(notice)"
                matTooltip="Smazat">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button
                class="memberBtn"
                color="primary"
                (click)="dialogCreate()"
                matTooltip="Vytvořit">
          <mat-icon>note_add</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-card-content style="margin-left: 16px;" [innerHTML]="notice.text"></mat-card-content>
  </mat-card>

</div>
